.dashboard-header {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, #1E88E5, #64B5F6);
}
#ancbtn{
    -fx-background-color :  #003F5C;
    -fx-border-color: #003F5C;
    -fx-border-width : 0px;
    -fx-border-radius : 50px;
    -fx-background-radius : 50px;
    -fx-border-style : solid;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0.3, 0, 2);
    }
#ancbtn:hover{
    -fx-background-color : #00334B;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    }
#ancbtn:pressed{
    -fx-background-color : black;
}
#dsbdhbox{
    -fx-background-color :  #00354E;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.3, 0, 2);
}
#bkvbox{
    -fx-background-color :  #A29BFE;
    -fx-border-color: #2f4b7c;
    -fx-border-width : 0px;
    -fx-border-radius : 3px;
    -fx-background-radius : 30px;
    -fx-border-style : solid;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0.3, 0, 2);
    -fx-transition: all 0.3s ease-in-out;
}
#stdvbox{
    -fx-background-color :  #A8E2FF;
    -fx-border-color: #2f4b7c;
    -fx-border-width : 0px;
    -fx-border-radius : 3px;
    -fx-background-radius : 30px;
    -fx-border-style : solid;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0.3, 0, 2);
    -fx-transition: all 0.3s ease-in-out;
}
#issvbox{
    -fx-background-color :  #ff85a7;
    -fx-border-color: #2f4b7c;
    -fx-border-width : 0px;
    -fx-border-radius : 3px;
    -fx-background-radius : 30px;
    -fx-border-style : solid;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 8, 0.3, 0, 2);
    -fx-transition: all 0.1s ease-in-out;
}
#bkvbox:hover{
    -fx-background-color : #7b72fc;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}
#stdvbox:hover{
    -fx-background-color : #52afde;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}
#issvbox:hover{
    -fx-background-color : #e3597f;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}

.mainFxmlClass {

}
